body {
	width: 99%;
}

#menu {
	min-height: 100%;
}

#app {
	min-height: 100%;
}

#content {

}

.rankingBanner, h1 {
	color: white;
	font-weight: 50%;
	background-color: #0CA4A5;
	text-align: center;
	padding: 15px;
}

.subtitle, h3 {
	color: black;
	font-weight: 20%;
	text-align: center;
}

#profileContent {
	text-align: center;
}

#profilePhoto img {
	width: 73%;
	padding: 8% 0;
}

#btnAtras {
	width: 107px;
}


#profileContentForm .btn {
	margin: 10px;
}

#profileContentForm label {
	float: left;
}

#profileContentForm .row {
	margin: 2% 0;
}

.listItem {
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
}

.listContent {
	margin: 10px;
}

.prueba {
	border: 1px solid black;
}
